<!DOCTYPE html>

<html>

<head>
  <title>About Us</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="assets/css/main.css" />
  <link rel="icon" type="image/jpg" href="title.jpg" />
</head>

<body class="no-sidebar is-preload">

  <div id="preloader"></div>

  <div id="page-wrapper">
    <!-- Header -->
    <section id="header" class="wrapper">
      <!-- Nav -->
      <nav id="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/leadership">Leadership</a></li>
          <li>
            <a href="#">Events</a>
            <ul>
              <li>
                <a href="#">Our Previous Events</a>
                <ul>
                  <li><a href="/2015">2015</a></li>
                  <li><a href="/2016">2016</a></li>
                  <li><a href="/2017">2017</a></li>
                  <li><a href="/2018">2018</a></li>
                  <li><a href="/2019">2019</a></li>
                </ul>
              </li>
              <li><a href="/upcoming">Upcoming Events</a></li>
            </ul>
          </li>
          <li><a href="/sponsor">Sponsors</a></li>
          <li class="current"><a href="/contact">Newsletter</a></li>
        </ul>
      </nav>
    </section>

    <!-- Main -->
    <div id="main" class="wrapper style2">
      <div class="title">About US</div>
      <div class="container">
        <div class="about">
          <h1 style="font-size:24px;">About Codechef</h1>
          <br />
          <p>
            CodeChef is a not-for-profit educational initiative by Directi, an
            Indian software company. It is a global programming community that
            fosters learning and friendly competition, built on top of the
            world’s largest competitive programming platform. We have also
            built a large community of problem curators.
          </p>

          <p>
            CodeChef was created as a platform to help programmers make it big
            in the world of algorithms, computer programming and programming
            contests. We host three featured contests every month and give
            away prizes and goodies to the winners as encouragement. Apart
            from this, the platform is open to the entire programming
            community to host their own contests. Major institutions and
            organizations across the globe use our platform to host their
            contests. On an average, 30+ external contests are hosted on our
            platform every month.
          </p>
        </div>
        <div class="about">
          <h1 style="font-size:24px;">About Codechef-VIT</h1>
          <br />
          <p>
            In Vellore Institute of Technology, CodeChef is a technical
            chapter that helps students all over the campus to improve their
            coding skills. The core committee members of the chapters are
            divided into four areas of expertise- Technical, Projects,
            Management and Design. The main objective is to provide the
            students a platform where they can learn, share and test their
            knowledge. CodeChef-VIT keeps conducting several workshops and
            events in order to help the students do the same.
          </p>
          <p>
            It all started from the academic year 2015-2016 when CodeChef – A
            Directi Educational Initiative was inaugurated in VIT University
            with Arpit Shringi as President, Raghav Arora as Vice-President
            and Rishabh Chaddha as Joint Secretary with Prof. Murali S. as the
            faculty co-ordinator.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer text-white" style="margin-top:0; background-image: url('images/banner.jpg'); padding:40px">
    <center>
      <div style="margin: 10px auto; font-size: 100%;">
        &copy; Copyright CodeChef-VIT
        <br>
        Contact: <a href="tel:+918285025348" style="text-decoration: none;" class="text-white">+91 8285025348</a>
      </div>
      <div>
        <a href="https://www.facebook.com/codechefvit" target="_blank"><i
            class="fa fa-facebook-square mx-2 fa-lg text-white"></i></a>
        <a href="https://www.instagram.com/codechefvit" target="_blank"><i
            class="fa fa-instagram mx-2 fa-lg text-white"></i></a>
        <a href="https://www.twitter.com/codechefvit" target="_blank"><i
            class="fa fa-twitter mx-2 fa-lg text-white"></i></a>
        <a href="https://www.linkedin.com/company/codechef-vit-chapter" target="_blank"><i
            class="fa fa-linkedin mx-2 fa-lg text-white"></i></a>
      </div>
    </center>
  </div>

  <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.dropotron.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>