<!DOCTYPE html>

<html>

<head>
  <title>Codechef-VIT</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="assets/css/main.css" />
  <link rel="icon" type="image/jpg" href="title.jpg" />
</head>

<body class="homepage is-preload">

  <div id="preloader"></div>

  <div id="page-wrapper">
    <!-- Header -->
    <section id="header" class="wrapper">
      <!-- Logo -->
      <div id="logo" style="margin-top:60px;">
        <h1>
          <img src="images/CC_white.png" height="100px" width="270px" class="img-fluid" />
        </h1>
        <p style="color: rgba(245, 245, 245, 0.842);">We create .class()</p>
      </div>

      <!-- Nav -->
      <nav id="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/leadership">Leadership</a></li>
          <li>
            <a href="#">Events</a>
            <ul>
              <li>
                <a href="#">Our Previous Events</a>
                <ul>
                  <li><a href="/2015">2015</a></li>
                  <li><a href="/2016">2016</a></li>
                  <li><a href="/2017">2017</a></li>
                  <li><a href="/2018">2018</a></li>
                  <li><a href="/2019">2019</a></li>
                </ul>
              </li>
              <li><a href="/upcoming">Upcoming Events</a></li>
            </ul>
          </li>
          <li><a href="/sponsor">Sponsors</a></li>
          <li class="current"><a href="/contact">Newsletter</a></li>
        </ul>
      </nav>
    </section>
  </div>
  <div id="demo" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->

    <div class="carousel-inner" style="margin-bottom: 0">
      <div class="carousel-item active">
        <img src="img1.jpg" alt="1" width="100%" height="90%" />
      </div>
      <div class="carousel-item">
        <img src="image2.jpg" alt="2" width="100%" height="90%" />
      </div>
      <div class="carousel-item">
        <img src="img3.jpg" alt="3k" width="100%" height="90%" />
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

  <div class="footer text-white" style="margin-top:0; background-image: url('images/banner.jpg'); padding:40px">
    <center>
      <div style="margin: 10px auto; font-size: 100%;">
        &copy; Copyright CodeChef-VIT
        <br>
        Contact: <a href="tel:+918285025348" style="text-decoration: none;" class="text-white">+91 8285025348</a>
      </div>
      <div>
        <a href="https://www.facebook.com/codechefvit" target="_blank"><i
            class="fa fa-facebook-square mx-2 fa-lg text-white"></i></a>
        <a href="https://www.instagram.com/codechefvit" target="_blank"><i
            class="fa fa-instagram mx-2 fa-lg text-white"></i></a>
        <a href="https://www.twitter.com/codechefvit" target="_blank"><i
            class="fa fa-twitter mx-2 fa-lg text-white"></i></a>
        <a href="https://www.linkedin.com/company/codechef-vit-chapter" target="_blank"><i
            class="fa fa-linkedin mx-2 fa-lg text-white"></i></a>
      </div>
    </center>
  </div>
  <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.dropotron.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>