<!DOCTYPE html>

<html>

<head>
  <title>Sponsors</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="assets/css/main.css" />
  <link rel="stylesheet" href="assets/css/custom.css" />
  <link rel="icon" type="image/jpg" href="title.jpg" />
</head>

<body class="no-sidebar is-preload">

  <div id="preloader"></div>

  <div id="page-wrapper">
    <!-- Header -->
    <section id="header" class="wrapper">
      <!-- Nav -->
      <nav id="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/leadership">Leadership</a></li>
          <li>
            <a href="#">Events</a>
            <ul>
              <li>
                <a href="#">Our Previous Events</a>
                <ul>
                  <li><a href="/2015">2015</a></li>
                  <li><a href="/2016">2016</a></li>
                  <li><a href="/2017">2017</a></li>
                  <li><a href="/2018">2018</a></li>
                  <li><a href="/2019">2019</a></li>
                </ul>
              </li>
              <li><a href="/upcoming">Upcoming Events</a></li>
            </ul>
          </li>
          <li><a href="/sponsor">Sponsors</a></li>
          <li class="current"><a href="/contact">Newsletter</a></li>
        </ul>
      </nav>
    </section>
  </div>
  <div id="main" class="wrapper style2">
    <div class="title">Sponsors</div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <center>
          <img src="images/IHS_Logo.png" class="image" alt="" />
          <h4>TITLE SPONSORS</h4>
          <h2>IHS Markit</h2>
          <p>
            IHS Markit is harnessing the deepest sources of information,
            analytics and expertise to forge solutions for the industries and
            markets that drive economies worldwide. Leaders in business,
            finance and government rely on us to help them see the big picture
            and interconnected factors that impact their organizations. This
            knowledge allows them to understand why things happen and focus on
            what really matters.
          </p>
        </center>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <center>
          <img src="images/18Tech.png" class="image" alt="" />
          <h4>OUR PARTNERS</h4>
          <h2>18Tech Ventures</h2>
          <p>
            Their mission is to help students (high school and college) create
            and launch the next great technology ideas. They not only provide
            legal, organizational, and sponsorship support to student-run
            technology events and hackathons, but also support students that
            have outstanding ideas. <br /><br /><a href="http://www.18techventures.com/"
              style="padding:10px; border:1px solid black;text-decoration:none;border-radius: 10px"
              target="_blank">CHECK OUT THEIR WEBSITE</a>
          </p>
        </center>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <a href="https://www.stucred.com"><img src="images/stucred.png" width="100%" /></a>
        <img src="images/Fortune.png" width="100%" />
        <img src="images/collegefever.png" width="100%" />
      </div>
      <div class="column">
        <img src="images/hel.png" width="100%" />
        <img src="images/head_info.png" width="100%" />
        <img src="images/knappily.png" width="100%" />
      </div>
      <div class="column">
        <img src="images/codepark.jpg" width="100%" />
        <img src="images/sketch.png" width="100%" />
        <img src="images/stickermule.png" width="100%" />
      </div>
      <div class="column">
        <img src="images/cblocks.png" width="100%" />
        <img src="images/tech.png" width="100%" />
        <img src="images/kpmg.png" width="100%" />
      </div>
      <div class="column">
        <img src="images/intern_theory.png" width="100%" />
      </div>
    </div>
  </div>

  <div class="footer text-white"
    style="margin-top:0; background-image: url('images/banner.jpg'); padding:40px;color: white">
    <center>
      <div style="margin: 10px auto; font-size: 100%;">
        &copy; Copyright CodeChef-VIT
        <br>
        Contact: <a href="tel:+918285025348" style="text-decoration: none;color: white;" class="text-white">+91
          8285025348</a>
      </div>
      <div style="color: white;">
        <a href="https://www.facebook.com/codechefvit" target="_blank" style="color: white;"><i
            class="fa fa-facebook-square mx-2 fa-lg text-white"></i></a>
        <a href="https://www.instagram.com/codechefvit" target="_blank" style="color: white;"><i
            class="fa fa-instagram mx-2 fa-lg text-white"></i></a>
        <a href="https://www.twitter.com/codechefvit" target="_blank" style="color: white;"><i
            class="fa fa-twitter mx-2 fa-lg text-white"></i></a>
        <a href="https://www.linkedin.com/company/codechef-vit-chapter" target="_blank" style="color: white;"><i
            class="fa fa-linkedin mx-2 fa-lg text-white"></i></a>
      </div>
    </center>
  </div>

  <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.dropotron.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>