.carousel-inner img {
      width: 100%;
      height: 100%;
  }

/*leadership*/
h1{
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 4em;
  color: white;
}
.team-member {
    margin-bottom: 50px;
    text-align: center;
}
.image{
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  padding-bottom: 5px;
}

/*contact form*/
.contact{
    background-size: cover;
    background-position: center;
    
    width: 90%;
    margin-bottom: 100px;
}
form{
  margin-top: 20px;
  transition: all 2s ease-in-out;
  padding: 20px;
}
form .form-control{
  width: 80%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  color: #444;
  font-size: 100%;
  margin-bottom: 16px;
  padding-left: 10px;
}
input{
  height: 30px;
  color:  #444;
}
form .submit{
  background: #fff;
  border: 0.2px solid #222;
  color: #222;
  font-size: 100%;
  letter-spacing: 2px;
  height: 40px;
  width: 80%;
}
form .submit:hover{
  background: #222;
  border-color: transparent;
  color: #fff;
  font-size: 100%;
  letter-spacing: 2px;
  height: 40px;

}

/*font awesome*/
.fa:hover{
  color: white;
}

/* contact footer responsive*/
.footer{
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.left {
  float: left;
  width: 50%;
  border-right: 1px solid white;
}
  @media screen and (max-width:786px) {
    .left{
      width:100%;
      border-right: none;
      padding: 20px;
    }
    .contact{
      margin-bottom: 250px;
    }
}

/*Sponsors */
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 5px 150px;
}
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;

}

.column img {
    margin-top: 100px;
    vertical-align: middle;
    width: 100%;
    height: 100px;
}
@media screen and (max-width: 1100px) {
  .row {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE10 */
      flex-wrap: wrap;
      padding: 5px 100px;
  }
  @media screen and (max-width: 1000px) {
    .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        padding: 5px 50px;
    }
@media screen and (max-width: 950px) {
    .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        padding: 5px 10px;
    }
}
@media screen and (max-width: 900px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
    .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        padding: 5px 150px;
    }
}
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
    .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        padding: 5px 100px;
    }
}
@media screen and (max-width: 700px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
    .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        padding: 5px 50px;
    }
}
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
    }
}
